<!DOCTYPE html>
<html>
  <head>
    <title>Thefirstrails</title>
    <% if user_signed_in? %>
       <p> Hello, <%=  current_user . email  %> </p>
       <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
     <% end %>
    <hr>
    <%= yield %>
  </body>
</html>
